<a href="https://colab.research.google.com/github/UsmanShafeeq/Advanced-Machine-Learning-Project/blob/main/basic_logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#File Handling

In [ ]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [ ]:
f = open("/content/sample_data/demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
print(f.read(5))

Hello

In [ ]:
print(f.readline())

! Welcome to demofile.txt

In [ ]:
print(f.readline())
print(f.readline())

This file is for testing purposes.

Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
for x in f:
  print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
print(f.readline())
f.close()

Hello! Welcome to demofile.txt

In [ ]:
f = open("/content/sample_data/demofile2.txt","a")
f.write("Now the file has more content!")
f.close()

# open and read the file after the appending:
f = open("/content/sample_data/demofile2.txt","r")
print(f.read())

demofile2.txtNow the file has more content!Now the file has more content!

In [ ]:
f = open("/content/demofile2.txt","w")
f.write("Woops! I have deleted the content!")
f.close()

# open and read the file after the overwriting
f = open("/content/demofile2.txt","r")
print(f.read())

In [ ]:
f = open('myfile.txt','x')

In [ ]:
f = open('myfile1.txt','w')

In [ ]:
import os
os.remove('myfile.txt')

In [ ]:
import os
if os.path.exists("myfile.txt"):
  os.remove("myfile.txt")
else:
  print("The file does not exist")

The file does not exist

# Python Variables

In [ ]:
# A variable is created the moment you first assign a value to it.
x = 5
y = "usman"
print(x)
print(y)

5
usman

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4
z = "Sally"
print(x)
print(x)

4
4

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# Casting
# If you want to specify the data type of a variable, this can be done with casting.

x = str(x)
y = int(3)
z = float(x)

In [ ]:
# tring variables can be declared either by using single or double quotes:

x = "Usman"
y = 'Usman'

print(x)
print(y)

Usman
Usman

In [ ]:
# Variable names are case-sensitive.

a = 4
A = "Usman"

print(a)
print(A)

4
Usman

In [ ]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(x)

Orange
Orange
Orange

In [ ]:
# Unpack a list:
fruits = ['apple', 'banana','cherry']
x, y, z = fruits
print(x)
print(y)
print(x)

apple
banana
apple

In [ ]:
X = "Python"
y = "is"
z = "awesome"
print(x, y, z)

apple is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [ ]:
x = "Hello World"
print(x)
print(len(x))

Hello World
11

In [ ]:
x = 2
print(x)

2

In [ ]:
x = 1J
print(x)

1j

In [ ]:
x = ["Apple", "orange", 'cherry', ' banana']
print(x)

['Apple', 'orange', 'cherry', ' banana']

In [ ]:
x = ("Apple", "orange", 'cherry', ' banana')
print(x)

('Apple', 'orange', 'cherry', ' banana')

In [ ]:
x = range(6)
print(x)

range(0, 6)

In [ ]:
x = {"name" : "John", "age" :36}
print(x)

{'name': 'John', 'age': 36}

In [ ]:
x ={"apple", "banana", "cherry"}
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
X = frozenset({"apple", "banana", "cherry"})
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
x = True
print(x)

True

In [ ]:
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

# Python If ... Else

In [1]:
a = 33
b = 200
if b > a:
  print("'b' is greater than 'a'")

'b' is greater than 'a'

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a ")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [5]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [6]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

In [7]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [8]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20")

Above ten,
and also above 20!

In [9]:
a = 33
b = 200

if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [10]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [11]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

if num1 > num2:
  print(num1,"is greater than",num2)
elif num1 < num2:
  print(num1,"is less than",num2)
else:
  print(num1,"is equal to",num2)

Enter first number:20
Enter second number:10
20.0 is greater than 10.0

In [22]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

for i in range(rows):

  start = i % 2
  for j in range(rows):
    print((start + j ) % 2,end = " ")
  print()

Enter the number of rows: 4
0 1 0 1
1 0 1 0
0 1 0 1
1 0 1 0

In [23]:
# Alternating Character Pattern
rows = int(input("Enter the number of rows:"))
char1 = input("Enter the first character:")
char2 = input("Enter the second character:")

for i in range(rows):
  start_char = char1 if i % 2 == 0 else char2

  for j in range(rows):
    print(start_char if j % 2 == 0 else char2 if start_char ==char1 else char1, end =" ")
  print()

Enter the number of rows:3
Enter the first character:r
Enter the second character:w
r w r
w r w
r w r