#File Handling

In [ ]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [ ]:
f = open("/content/sample_data/demofile.txt", "r")
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
print(f.read(5))

Hello

In [ ]:
print(f.readline())

! Welcome to demofile.txt

In [ ]:
print(f.readline())
print(f.readline())

This file is for testing purposes.

Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
for x in f:
  print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

In [ ]:
f = open("/content/sample_data/demofile.txt")
print(f.readline())
f.close()

Hello! Welcome to demofile.txt

In [ ]:
f = open("/content/sample_data/demofile2.txt","a")
f.write("Now the file has more content!")
f.close()

# open and read the file after the appending:
f = open("/content/sample_data/demofile2.txt","r")
print(f.read())

demofile2.txtNow the file has more content!Now the file has more content!

In [ ]:
f = open("/content/demofile2.txt","w")
f.write("Woops! I have deleted the content!")
f.close()

# open and read the file after the overwriting
f = open("/content/demofile2.txt","r")
print(f.read())

In [ ]:
f = open('myfile.txt','x')

In [ ]:
f = open('myfile1.txt','w')

In [ ]:
import os
os.remove('myfile.txt')

In [ ]:
import os
if os.path.exists("myfile.txt"):
  os.remove("myfile.txt")
else:
  print("The file does not exist")

The file does not exist

# Python Variables

In [ ]:
# A variable is created the moment you first assign a value to it.
x = 5
y = "usman"
print(x)
print(y)

5
usman

In [ ]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4
z = "Sally"
print(x)
print(x)

4
4

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# Casting
# If you want to specify the data type of a variable, this can be done with casting.

x = str(x)
y = int(3)
z = float(x)

In [ ]:
# tring variables can be declared either by using single or double quotes:

x = "Usman"
y = 'Usman'

print(x)
print(y)

Usman
Usman

In [ ]:
# Variable names are case-sensitive.

a = 4
A = "Usman"

print(a)
print(A)

4
Usman

In [ ]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(x)

Orange
Orange
Orange

In [ ]:
# Unpack a list:
fruits = ['apple', 'banana','cherry']
x, y, z = fruits
print(x)
print(y)
print(x)

apple
banana
apple

In [ ]:
X = "Python"
y = "is"
z = "awesome"
print(x, y, z)

apple is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [ ]:
x = "Hello World"
print(x)
print(len(x))

Hello World
11

In [ ]:
x = 2
print(x)

2

In [ ]:
x = 1J
print(x)

1j

In [ ]:
x = ["Apple", "orange", 'cherry', ' banana']
print(x)

['Apple', 'orange', 'cherry', ' banana']

In [ ]:
x = ("Apple", "orange", 'cherry', ' banana')
print(x)

('Apple', 'orange', 'cherry', ' banana')

In [ ]:
x = range(6)
print(x)

range(0, 6)

In [ ]:
x = {"name" : "John", "age" :36}
print(x)

{'name': 'John', 'age': 36}

In [ ]:
x ={"apple", "banana", "cherry"}
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
X = frozenset({"apple", "banana", "cherry"})
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
x = True
print(x)

True

In [ ]:
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

# Python If ... Else

In [ ]:
a = 33
b = 200
if b > a:
  print("'b' is greater than 'a'")

'b' is greater than 'a'

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a ")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20")

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200

if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

if num1 > num2:
  print(num1,"is greater than",num2)
elif num1 < num2:
  print(num1,"is less than",num2)
else:
  print(num1,"is equal to",num2)

Enter first number:20
Enter second number:10
20.0 is greater than 10.0

In [ ]:
# Get the number of rows from the user
rows = int(input("Enter the number of rows: "))

for i in range(rows):

  start = i % 2
  for j in range(rows):
    print((start + j ) % 2,end = " ")
  print()

Enter the number of rows: 4
0 1 0 1
1 0 1 0
0 1 0 1
1 0 1 0

In [ ]:
# Alternating Character Pattern
rows = int(input("Enter the number of rows:"))
char1 = input("Enter the first character:")
char2 = input("Enter the second character:")

for i in range(rows):
  start_char = char1 if i % 2 == 0 else char2

  for j in range(rows):
    print(start_char if j % 2 == 0 else char2 if start_char == char1 else char1, end =" ")
  print()

Enter the number of rows:3
Enter the first character:r
Enter the second character:w
r w r
w r w
r w r

# pandas python

In [8]:
import pandas as pd

# Load Titanic dataset from Seaborn's GitHub repository
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Preview the first few rows
print("Dataset Preview:")
print(df.head())

Dataset Preview:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

**Step 2: Basic Data Exploration**

In [2]:
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
df.sample(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
664,1,3,male,20.0,1,0,7.9250,S,Third,man,True,NaN,Southampton,yes,False
268,1,1,female,58.0,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
331,0,1,male,45.5,0,0,28.5000,S,First,man,True,C,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [5]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

**Step 3: Data Cleaning**

In [12]:
# Data Cleaning without inplace=True
df['age'] = df['age'].fillna(df['age'].median())
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df = df.dropna()  # This removes any remaining missing values

In [13]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

**Step 4: Exploratory Data Analysis (EDA)**

**1. Grouping and Aggregating**

In [14]:
avg_age_by_survival = df .groupby('survived')['age'].mean()
print("Average Age by Survival Status:")
print(avg_age_by_survival)

Average Age by Survival Status:
survived
0    39.701493
1    32.503134
Name: age, dtype: float64

**2. Analyzing Categorical Data**

In [15]:
class_counts = df['class'].value_counts()
print("\nPassenger Counts by Class:")
print(class_counts)

Passenger Counts by Class:
class
First     173
Second     16
Third      12
Name: count, dtype: int64

**# Survival rate by gender**

In [16]:
survival_by_gender = df.groupby('sex')['survived'].mean()
print("\nSurvival Rate by Gender:")
print(survival_by_gender)

Survival Rate by Gender:
sex
female    0.936842
male      0.424528
Name: survived, dtype: float64

**3. Correlation Analysis**

In [18]:
# Select only numeric columns
numeric_df = df.select_dtypes(include=[float, int])
correlation_matrix = numeric_df.corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)

Correlation Matrix:
          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.033313 -0.225654  0.134080  0.038467  0.125166
pclass   -0.033313  1.000000 -0.286407 -0.088438  0.055230 -0.313099
age      -0.225654 -0.286407  1.000000 -0.134140 -0.239434 -0.071118
sibsp     0.134080 -0.088438 -0.134140  1.000000  0.260784  0.290435
parch     0.038467  0.055230 -0.239434  0.260784  1.000000  0.383967
fare      0.125166 -0.313099 -0.071118  0.290435  0.383967  1.000000

**Step 5: Advanced Analysis (Pandas Functions**)
1. pivot_table for Multidimensional Aggregation

In [19]:
# Pivot table for survival rate by class and gender
pivot_table = df.pivot_table(index='class', columns='sex', values='survived', aggfunc='mean')
print("\nSurvival Rate Pivot Table:")
print(pivot_table)

Survival Rate Pivot Table:
sex       female      male
class
First   0.962025  0.414894
Second  0.900000  0.666667
Third   0.666667  0.333333

**2. apply for Custom Functions**

In [20]:
# Create a new column categorizing passengers as 'child' if under 18, else 'adult'
df['age_category'] = df['age'].apply(lambda x: 'child' if x < 18 else 'adult')

**# Display count of age categories**

In [21]:
# Display count of age categories
age_category_counts = df['age_category'].value_counts()
print("\nCount of Age Categories:")
print(age_category_counts)

Count of Age Categories:
age_category
adult    182
child     19
Name: count, dtype: int64

**# Analyze distribution of fares**

In [24]:
# Analyze distribution of fares
fare_distribution = df['fare'].value_counts(bins=10).sort_index()
print("\nFare Distribution (10 bins):")
print(fare_distribution)

Fare Distribution (10 bins):
(-0.513, 51.233]      83
(51.233, 102.466]     75
(102.466, 153.699]    25
(153.699, 204.932]     1
(204.932, 256.165]     9
(256.165, 307.398]     6
(307.398, 358.63]      0
(358.63, 409.863]      0
(409.863, 461.096]     0
(461.096, 512.329]     2
Name: count, dtype: int64